<div class="about-img">
  <img
    class="image-about"
    src="./images/main.jpeg"
    alt="Snow"
    style="width:100%;"
  />
  <div class="centered">
    <h1>{{title}}</h1>
    
    <div class="container">
      <h5 class="textt">
      I am a dedicated computer programming student pursuing a Diploma at
      Georgian College. Experienced in Java, MEAN Stack, ASP.NET, and more. I
      excel in collaborative projects, possess strong problem-solving skills,
      and have practical experience as a Sanitizer Technician. Passionate about
      learning and contributing to innovative software development projects.</h5>
    </div>
  </div>
</div>