<h1>{{title}}</h1>

<div class="mt-4 p-5 bg-dark text-white">

  {{! table }}
  <div class="row">
    <div class="col">
      <div class="card" style="width:400px">
        <img
          class="card-img-top"
          src="./images/project1.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Intruder Sensor</h4>
          <p class="card-text">Designed and implemented a C++ program utilizing
            a PIR sensor in Tinkercad to detect intruders, enhancing security in
            an IoT environmen</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:400px">
        <img
          class="card-img-top"
          src="./images/project4.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">PHP Guitar Shop</h4>
          <p class="card-text">Created a PHP-based online guitar shop with
            streamlined management of product listings, including add/remove
            capabilities and detailed information display.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" style="width:400px">
        <img
          class="card-img-top"
          src="./images/project3.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">CarLobby Mobile App</h4>
          <p class="card-text">Developed a Java‑based mobile app for CarLobby
            that allows efficient management of car listings with add/remove
            functionalities and comprehensive information display</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:400px">
        <img
          class="card-img-top"
          src="./images/project2.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Barrie Pizzeria</h4>
          <p class="card-text">Crafted an immersive and interactive website for
            a pizza place, blending JavaScript, HTML, and CSS to deliver a
            visually enticing user experience and seamless ordering process</p>
        </div>
      </div>
    </div>

  </div>
</div>